*
{
  padding : 0;
  margin:  0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
  background-color: hsl(234, 29%, 20%);
}

.App{
  width:100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 8%;

}

@media screen and (max-width:376px) {
  body{
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 100%);
  }
}

@font-face {
  font-family: Roboto-Bold;
  src: url("../src/assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: Roboto-regular;
  src: url("../src/assets/fonts/Roboto-Regular.ttf");
}